.item-thumbsnail {
    width: 75px;
    height: 58px;
}

.item-details {
    width: 143px;
}
.item-details-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-details-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}